@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #24292E;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}
.site-title {
  line-height: 1px;
}
.site-title a {
  display: block;
}
.sec-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 65px;
}
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
}


#header ul {
  display: flex;
}
#header li {
  margin-left: 30px;
  font-size: 0.9rem;
}
#header li a {
  color: #24292E;
}
#header li a:hover {
  opacity: 0.7;
}
#header ul img.icon {
  width: 20px;
}
/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 80px;
}
#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
}
/*-------------------------------------------
About
-------------------------------------------*/
#about li:first-child {
  margin-bottom: 30px;
}
#about ul {
  margin-bottom: 30px;
}
/*-------------------------------------------
Works
-------------------------------------------*/
#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#works li {
  width: 31%;
  margin-bottom: 34px;
}
/*-------------------------------------------
News
-------------------------------------------*/
#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
}
#news dt {
  padding: 15px;
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
}
#news dd {
  padding: 15px;
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
}

  /*-------------------------------------------
Contact
-------------------------------------------*/
#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#contact dt {
  width: 15%;
}
#contact dd {
  width: 85%;
  margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}
#contact dd textarea {
  height: 10rem;
}
#contact .button {
  text-align: center;
}
#contact .button input {
  width: 200px;
  background-color: #24292E;
  color: #fff;
  padding: 15px;
  border: solid 1px #24292E;
}
#contact .button input:hover {
  background: #fff;
  color: #24292E;
}
/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  text-align: center;
  background-color: #24292E;
  color: #c8c8c8;
  font-size: 0.5rem;
  padding: 10px;
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width:600px){
  .wrapper {
    margin-bottom: 70px;
  }
  .site-title {
    margin: 20px auto 10px;
  }
  .sec-title {
    margin-bottom: 40px;
  }
  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header {
    height: auto;
    flex-direction: column;
    padding-bottom: 10px;
  }
  #header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }
  #header li:first-child {
    margin-left: 0;
  }
  /*-------------------------------------------
  Works
  -------------------------------------------*/
  #works ul {
    flex-direction: column;
  }
  #works li {
    width: 100%;
  }
 /*-------------------------------------------
  News
  -------------------------------------------*/
  #news dl {
    flex-direction: column;
  }
  #news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  }
  #news dd {
    width: 100%;
    padding-top: 0;
  }
  /*-------------------------------------------
  Contact
  -------------------------------------------*/
  #contact dl {
    flex-direction: column;
  }
  #contact dt {
    width: 100%;
  }
  #contact dd {
    width: 100%;
  }


}